#header {
    background-color: var(--gray);
    padding: 1rem 0;
}

.mobile{
    display:none;
}

#header :global(.container) {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#header h1 a {
    color: var(--white);
    font-size: 2rem;
}

#header h1 a:hover {
    text-decoration: underline;
}

#header ul.desktop {
    display: flex;
    gap: 1.5rem;
}

#header ul a {
    color: var(--white);
    font-size: 1.25rem;
    transition: font-size .3s;
}

#header ul.desktop a:hover {
    text-decoration: underline;
    font-size: 1.5rem;
}

#header i {
    display: none;
    font-size: 2rem;
    color:var(--white);
    cursor: pointer;
}

@media screen and (max-width:720px) {

    #header ul.desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile ul {
        position: absolute;
        top: 61px;
        left: 0;
        width: 100%;
        background-color: var(--dark-gray);
        z-index: 99;
    }

    .mobile ul a {
        display:inline-block;
        text-align: center;
        width: 100%;
        padding: 1.25rem 0;
        border-bottom: 1px solid var(--black);
    }

    .mobile ul a:hover {
        text-decoration: underline;
    }

    #header .mobile i {
        display:block;
    }
}