#banner {
    background-image: url('../../../images/BG.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    height: 90vh;
    position: relative;
}

.overlay {
    position: absolute;
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 0;
}

#banner :global(.container) {
    height: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bannerContent h2 {
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.bannerContent a {
    color: var(--white);
    display: inline-block;
    border: 1px solid var(--white);
    padding: .5rem 1rem;
    border-radius: 100px;
    font-size: 1.25rem;
    transition: background-color .3s, color .3s ;
}

.bannerContent a:hover {
    background-color: var(--white);
    color: var(--black);
}

@media screen and (max-width: 720px) {
    #banner :global(.container) {
        justify-content: center;
    }

    .bannerContent {
        text-align: center;
    }
}