#specialties {
    background-color: var(--specialties);
    padding:30px 0;
}

.specialtiesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 4rem;
}

@media screen and (max-width: 830px){
    .specialtiesContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px){
    .specialtiesContainer {
        grid-template-columns: 1fr;
    }
}