:root {
    --white: #FFFFFF;
    --gray: #34363B;
    --dark-gray: #1F2232;
    --line: #011e2c;
    --black: #0c0c0c;
    --specialties: #DBD393;
    --text-blue: #003048;
    --contact: #013047;
    --services-red:#D62727;
    --orange: #F77F00;
    --pink: #FDE6E9;
    --red: #FF0000;
    --green: #00ff00;
    --whatsapp: #34af23;
    --facebook: #3b5998;
}