* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

h1, h2, a {
    font-family: 'Fira Sans';
    font-weight: 300;
}

section h2 {
    color: var(--text-blue);
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
}

p, span, button {
    font-family: 'Open Sans';
}

.formError {
    border: 2px solid var(--red);
    color: var(--red);
    font-weight: 600;
    font-size: 1.10rem;
}

@media (max-width: 1080px){
    html {
        font-size: 93.75%;
    }
}
@media (max-width: 720px){
    html {
        font-size: 87.5%;
    }
}